@font-face {
    font-family: GothamBold;
    src: url(./fonts/GothamHTF-Bold.ttf);
}

@font-face {
    font-family: GothamBook;
    src: url(./fonts/GothamHTFBook.ttf);
}
.revamp section {
    font-family: GothamBook;
}

.revamp a {
    cursor: pointer;
}

.revamp a:hover {
    text-decoration: none;
}

.revamp h1 {
    color: #0e308c;
    font-size: 2.7rem;
}

.revamp b {
    font-family: GothamBold;
}

.revamp section.second-section {
    background: #fff;
    background-size: 100% 100%;
}
.revamp .second-section {
    position: relative;
    overflow: hidden;
}
.revamp .second-section .content {
    position: relative;
    z-index: 6;
}
.revamp .rectangle {
    background: #fff;
    height: 80%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
}
.revamp .second-section .curve-bg {
    background: linear-gradient(90deg, rgba(247, 227, 185, 1) 0%, #fff 38%, #fff 62%, rgba(247, 227, 185, 1) 100%);
    height: 21rem;
    width: 100%;
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.revamp .second-section .curve-bg .curve-inner {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    top: -24%;
    background: #fff;
    z-index: 3;
    position: relative;
}
.revamp .second-section .curve-bg .curve-inner:after {
    content: "";
    position: absolute;
    top: 0;
    right: -3%;
    bottom: 0;
    left: -1%;

    z-index: 0;
    margin: 1px;
    border-radius: inherit;
    background: #fff;
    transform: scale(1.4);
}
.revamp .second-section .curve-bg .curve-inner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 8px;
    border-radius: inherit;
    background: linear-gradient(
        90deg,
        rgba(184, 136, 54, 1) 0%,
        rgba(248, 236, 168, 1) 35%,
        rgba(184, 136, 54, 1) 70%,
        rgba(248, 236, 168, 1) 100%
    );
    transform: scale(1.5);
}

.revamp .std-padding {
    padding: 3rem 0;
}

.revamp .std-margin {
    margin: 3rem 0;
}

.revamp .std-margin-bottom-sm {
    margin-bottom: 1rem;
}

.revamp .std-margin-bottom {
    margin-bottom: 3rem;
}

.revamp .std-margin-top {
    margin-top: 3rem;
}

.revamp section.second-section .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.revamp section.second-section .logo img {
    width: 70%;
}

.revamp section.second-section .logo p.title {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.revamp section.second-section .logo p.title.small {
    margin-top: -1rem;
}

.revamp section.second-section .logo p small {
    font-size: 62%;
    text-transform: initial;
}

.revamp section.second-section .register-tnc p,
.revamp section.second-section .register-tnc a {
    font-size: 1.2rem;
}

.revamp .width {
    width: 100%;
}

.revamp a.button-register {
    border-radius: 10rem;
    background-color: #fff;
    border: 1px solid #49589a;
    color: #49589a;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.revamp a.button-register:hover,
.revamp a.button-register:focus,
.revamp a.button-register:active {
    border-radius: 10rem;
    background-color: #49589a;
    border: 1px solid #49589a;
    color: #fff;
}

.revamp section.third-section {
    background: linear-gradient(90deg, rgba(247, 227, 185, 1) 0%, #fff 38%, #fff 62%, rgba(247, 227, 185, 1) 100%);
    background-size: 100% 100%;
}

.revamp .join-us .content {
    height: 100%;
    padding: 5rem;
    vertical-align: middle;
}

.revamp .join-us img.wave {
    position: absolute;
    z-index: 0;
    max-height: 33rem;
}

.revamp .join-us .parenting-card {
    background-color: #fff;
    border-radius: 3rem;
    border: 0px;
    height: 29.4rem;
    position: relative;
    z-index: 1;
}

.revamp .join-us .parenting-card .content {
    height: 100%;
}

.revamp .join-us .parenting-card img.mom {
    position: absolute;
    width: 25rem;
    height: auto;
    top: -3rem;
    left: 5rem;
}

.revamp section.third-section .item {
    margin: 5rem 0;
    position: relative;
}

.revamp section.third-section .item .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.revamp section.third-section .item .images {
    position: relative;
}

.revamp section.third-section .item:nth-child(odd) .content {
    right: 0%;
}

.revamp section.third-section .item:nth-child(even) .images {
    left: 50%;
}

@media (min-width: 1200px) {
    .revamp section.second-section .container {
        width: 1282px;
    }
}

@media screen and (max-width: 990px) {
    .revamp section.second-section .container {
        padding: 0px 7px;
    }

    .revamp .std-padding {
        padding: 1rem 0;
    }

    .revamp .std-margin {
        margin: 3rem 0;
    }

    .revamp .std-margin-bottom {
        margin-bottom: 2rem;
    }

    .revamp .std-margin-top {
        margin-top: 2rem;
    }
    .revamp .second-section .curve-bg {
        height: 10rem;
    }
    .revamp .second-section .curve-bg .curve-inner:before {
        margin: 2px;
    }

    .revamp section.second-section .logo {
        flex-wrap: nowrap;
        overflow-y: scroll;
        scrollbar-width: 0;
        width: 102vw;
        justify-content: start;
    }

    .revamp section.second-section .logo img {
        width: 50%;
    }

    .revamp section.second-section .logo::-webkit-scrollbar {
        display: none;
    }

    .revamp section.second-section .logo {
        overflow-y: hidden;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: none;
    }

    .revamp section.second-section .logo .item:first-child {
        margin-left: 2rem;
    }

    .revamp section.second-section .logo .item {
        padding-left: 5px;
        padding-right: 5px;
    }

    .revamp section.second-section .register-tnc {
        margin-bottom: 5rem;
    }

    .revamp section.second-section h1 {
        font-size: 6.6vw;
    }

    .revamp section.second-section .logo p.title {
        font-size: 3.6vw;
        line-height: 6vw;
        width: 34vw;
    }

    .revamp section.second-section .logo p.title small {
        line-height: 1px;
    }

    .revamp section.third-section {
        text-align: center;
    }

    .revamp section.third-section .item .content {
        position: relative;
    }

    .revamp section.third-section .item .content {
        top: 0%;
        transform: translateY(0%);
    }

    .revamp section.third-section .item:nth-child(even) .images {
        left: 0%;
    }

    .revamp section.third-section h1 {
        font-size: 5.6vw;
    }

    .revamp .join-us .content {
        height: 100%;
        padding: 3rem;
    }

    .revamp .join-us .parenting-card {
        height: auto;
        border-radius: 1.5rem;
        margin: 0 0.5rem;
    }

    .revamp .join-us .parenting-card img.mom {
        position: relative;
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        height: 100%;
        left: 0;
    }
}
